.page-footer {

	.widget-area--footer  {

		@include grid-row();

		margin-bottom:$theme-normal-spacing;

		.widget-area {
		
			@media #{$small-only} {

				@include grid-column($columns:12);
				
			}
			
			@media #{$medium-up} {
				
				@include grid-column($columns:6);
				
			}

		}

		.contact-us {

			@media #{$small-only} {

				@include grid-column($columns:12);
				
			}
			
			@media #{$medium-up} {
				
				@include grid-column($columns:6);
				
			}

		}

	}

	.contact-us {

	}


	.follow-us {
		
		@media #{$medium-up} {
		
			float: right;
			
		}

	}
	
	.copyright {

		@include grid-row();

		p {

			@include grid-column($columns:12);

			font-size: $theme-font-size-very-small;
			text-align: left;
			margin: 0px;

		}

	}

	padding-bottom:$theme-normal-spacing;

}