.follow-us {
		
	margin:0;
	@extend .no-bullet;
	@extend .clearfix;

}

.follow-us--link {
	
	float:left;
	display: block;
    margin-right: $theme-extra-small-spacing;
	
	span {
		@include sr-only();
	}
	
	svg{
		width: 35px;
		
		.background{
			fill: navy;
		}
		
		.icon{
			fill: $theme-base-color;
		}
		
		&:hover, &:focus{
			
			.background{
				fill: $theme-primary-color;
			}

		}
		
	}
		
}




